
.header{
  color: #7f5af0;
  font-size: 30px;
  text-align: center;
    
}

.link-form{
    width:500px;
    display: block;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid  #7f5af0;
    background-color: white;
    border-radius: 10px;

}
.form-heaidng{
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.linkdata{
    display: block;
    margin: 20px auto;
    width: 80%;
    padding:8px;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 10px;
    border:1px solid #7f5af0;
}
.linkdata:active,.linkdata:focus{
    outline: none;
}
.btn{
    background-color: #7f5af0;
    width: 85%;
    padding: 8px ;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color:  #7059b4;
    
}
